.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}
.col {
    display: flex;
    flex-direction: column;
}
.thumbnail {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.thumbnail img {
    width: 100%;
}
.caption {
    text-align: center;
    flex-grow: 1;
}
.caption h4 {
    margin-top: 10px;
}
.btn-holder {
    margin-top: 10px;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    text-decoration: none;
}

.caption p {
    /* white-space: nowrap;
    height: 40px;
    overflow-y: auto;

    overflow: hidden;
    text-overflow: ellipsis; */
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}


.dropdown-menu{
    display: none !important;
}
