/* ======= Side Cart menu ======== */
.cart_btn:hover {
    opacity: 0.8;
}

/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.backdrop.show {
    display: block;
    opacity: 1;
}

/* SideCart */
.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 350px;
    min-width: 300px;
    background-color: #fff;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10001;
    transform: translateX(110%);
    transition: transform 0.5s ease-in-out;
}

.sidecart.open {
    transform: translateX(0);
}

.cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Cart Header */
.cart_header {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    position: relative;
}

.header_title span {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: rgba(227, 194, 87, 1);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_header .close_btn {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cart_header .close_btn:hover {
    transform: scale(1.1);
}

/* Cart Items */
.cart_items {
    flex: 1;
    overflow-x: hidden;
    margin-bottom: 190px;
}

.cart_item {
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.remove_item {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove_item span {
    color: #fff;
    font-size: 20px;
    user-select: none;
}

.item_img {
    flex: 1;
}

.item_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item_details {
    flex: 2;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item_details p {
    color: #666;
}

.item_details .qty {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.item_details .qty button {
    padding: 0;
    margin: 0 !important;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 30px;
    height: 30px;
    /* background-color: #fff; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
    transition: scale 0.2s ease;
}

.item_details .qty button:hover {
    scale: 1.1;
}

.item_details .qty button:active {
    scale: 1;
}

#plus-btn:focus, #minus-btn:focus{
    outline: 0;
}

.qty button:first-of-type {
    font-size: 2rem;
    padding-bottom: 5px;
}

.product_quantity {
    font-size: 1rem;
}

/* Cart Actions */
.cart_actions {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.cart_actions .subtotal {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart_actions button {
    width: 100%;
    margin: 0;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

a .btn1 {
    background-color: rgba(227, 194, 87, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    width: 40px; /* Adjust as needed */
    text-align: center;
    border: none;
    border-radius: 0; /* Remove any border radius */
    background-color: transparent; /* Optionally, you can add a background color */
    font-size: inherit;
    font-family: inherit;
}
