:root { /* Color Palette */
    --color1: #60BB68;
    --color2: #1B2A3A;
    --color3: #D0D5D5;
    --color4: #858A94;
    --color5: #E3C257;
    --color6: #1A3001;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    color: var(--color2);
    text-decoration: none;
}

a:visited {
    color: var(--color2);
    text-decoration: none;
}

a:hover {
    color: var(--color2);
    text-decoration: none;
}

a:active {
    color: var(--color2);
    text-decoration: none;
}

footer {
    background-color: #e5e5e5;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    padding-bottom: 20px;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.footerRight {
    display: flex;
    flex-direction: column;
}
