:root { /* Color Palette */
    --color1: #60BB68;
    --color2: #1B2A3A;
    --color3: #D0D5D5;
    --color4: #434447;
    --color5: #E3C257;
    --color6: #1A3001;
    --color7: #443B2C;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*:not(i){
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

header {
    z-index: 9999;
}

/* Normalizing */

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Styling */

/* Header */

.logo {
    width: 50px;
    white-space: nowrap;
    color: var(--color4);
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-left: 24px;
}

header {
    width: auto;
    height: 10%;
    position: sticky;
    top: 0;
    background-color: white;
}

nav a {
    box-shadow: inset 0 0 0 0 var(--color5);
    text-decoration: none;
    color: var(--color4);
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

nav a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 var(--color5);
}

.reviews-list {
    z-index: -1;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    height: 50px;
    padding: 1em 1.5em 1em 1em;
    padding-right: 34px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color4);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

li .list-arrow {
    display: none;
}

.logOutbtn {
    cursor: pointer;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--color5);
    margin: 0;
    font-family: 'Lora', serif;
}

.logOutbtn:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 var(--color5);
}

.mobile-overlay {
    display:none;
}

.hwrap {
    overflow: hidden;
    background: #eee;
}

.hitem {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-evenly;
    font-family: proxima-nova,sans-serif;
}

.hitem span {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.hitem span::before {
    --tw-content: "\2713";
    content: var(--tw-content);
    margin-right: 4px;
    color: orange;
}

strong {
    font-family: proxima-nova,sans-serif;
}


.mobile-icon {
    display: none;
}

/* Main wallpaper */

.wallpaper {
    width: 100%;
    height: 500px;
    background-image: url("/assets/houseplant.webp");
    background-size: cover;
    background-position: 50% 60%;
    color: black;
    align-items: end;
    display: flex;
}

.text-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.overlay {
    display: flex;
    background-color: rgba(227, 194, 87, 0.8);
    height: 100%;
    margin-left: auto;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    transform: scaleY(1.05);
    transform-origin: center top;
}

.overlay h2,p,button {
    margin-bottom: 20px;
}

#summerHead, #summerText, #summerButton {
    transform: scaleY(0.9);
}

.overlay h2 {
    font-size: 33px;
}

.overlay p {
    font-size: 18px;
    line-height: 30px;
}

h1 {
    margin-left: 40px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 4em;
    letter-spacing: 0.3rem;
    font-family: Yeseva One, serif;
}

button,#summerButton {
    border-radius: 20px;
    background-color: var(--color7);
    width: 130px;
    height: 10%;
    color: white;
    border: none;
    font-size: 18px;
    font-family: proxima-nova,sans-serif;
    transition-duration: 0.4s;
    padding-top: 2%;
    padding-bottom: 2%;
}

#summerButton {
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

button:hover,#summerButton:hover {
    background-color: white;
    color: var(--color7);
    border: 1px var(--color7) solid;
    transition-duration: 0.4s;
}



/* Product section */

#products-head{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    text-align: center;
    font-family: proxima-nova, sans-serif;
}

.products {
    display: flex;
    justify-content: center;
}

.grid-container {
    max-width: 80%;
    margin: 0;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    min-width: 100px;
    max-width: 350px;
    height: auto;
    padding: 10px 20px 5px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgba(204, 204, 204, 0.1);
}

.card-image {
    transition-duration: 0.2s;
    border-radius: 15px;
}

.card-image:hover {
    transform: scale(1.05);
    transform-origin: center top;
}

.card h3,p {
    font-family: proxima-nova, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card h3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.card button {
    font-size: 0.8em;
    height: auto;
    width: 100%;
    color: black;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card b {
    font-family: proxima-nova, sans-serif;
    font-size: 1.2em;
}

.card s {
    margin-left: 10px;
    font-family: proxima-nova, sans-serif;
    color: #ccc;
}

.card button:hover{
    color: white;
    background: var(--color7)
}

.card-image {
    max-width: 100%;
    height: auto;
    width: 300px;
}

/* Shipping notice */

.shipping-notice {
    display: flex;
    align-items: center;
    background-color: #ccc;
    height: 90px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.shipping-notice div {
    width: 100%;
    text-align: center;
}

.shipping-notice span {
    font-family: proxima-nova, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.shipping-notice span:first-of-type {
    margin-left: 15px;
}

.shipping-notice i {
    font-size: 1.8em;

}

.shipping-notice span {
    font-size: 1.5em;
    margin-bottom: 0;
}

/* Featured plant section*/

.featured-wallpaper {
    width: 90%;
    height: 500px;
    background-image: url("/assets/featured.webp");
    background-position: 50% 90%;
    background-size:cover;
    color: black;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}

.featured-plant-text {
    margin: 20px 40px 20px 40px;
    font-size: 2em;
}

.featured-plant-text h2{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.featured-plant-text h2:first-of-type{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.featured-plant-text h2:last-of-type {
    background-color: rgba(0,0,0, 0.7);
    color: white;
    transition-duration: 0.4s;
}

.featured-plant-text h2:last-of-type:hover {
    background-color: rgba(227, 194, 87, 0.8);
    color: white;
    transition-duration: 0.4s;
}

/* Review section */

#review {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#review p{
    font-family: proxima-nova,sans-serif;
    font-weight: 100;
}

#review b {
    font-family: proxima-nova,sans-serif;
}

.sk_branding .tutorial_link {
    display: none !important;
}

/* Assistant section */

.assistant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgba(227, 194, 87, 1);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 40px 20px;
    margin-top: 20px;
}

#assistantText {
    font-family: proxima-nova,sans-serif;
    margin-bottom: 20px;
}

#assistantCall {
    font-family: proxima-nova,sans-serif;
    font-size: 1.2em;
    display: none;
}

#assistantCall b {
    background-color: white;
    color: rgba(227, 194, 87, 0.8);
    font-family: proxima-nova,sans-serif;
}

.assistant img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float: right;
}

#assistantImage {
    margin-right: 80px;

}

.assistant button{
    width: 170px;
    height: 40px;
    font-family: proxima-nova,sans-serif;
    padding: 0;
}

/* Footer */

.footer-column h3,a{
    font-family: proxima-nova,sans-serif;
}

.myFooter {
    background-color: #D0D5D5;
    padding: 30px 0 30px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer-column {
    margin-right: 30px;
    font-size: 17px;
    width: auto;
}

.footer-column:first-of-type {
    margin-left: 30px;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #1B2A3A;
}

.footer-links a {
    text-decoration: none;
    color: #1B2A3A;
    display: block;
    margin: 8px 0;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #666;
    transform: scale(1.1);
}

.soc-media a:hover {
    transform: scale(1.1);
}

div.soc-media {
    color: #b3b3b3;
    font-size: 0.9em;
    text-align: center;
    margin-right: 20px;
    display: flex;
}

div.soc-media a.facebook {
    background: #3a589a;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.soc-media a.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.soc-media a.twitter {
    background: #1DA1F2;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

div.soc-media a {
    display: flex;
    font-size: 1em;
    text-decoration: none;
    color: white;
    width: 2.4em;
    height: 2.4em;
    clear: both;
    text-align: center;
    margin: 0.5em 0.2em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer-links-mobile {
    display: none;
}

/* ALERT */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 1em 1.5em 1em 1em;
    border: 1px solid transparent;
    text-align: center;
}

/* Mobile */

@media (max-width: 700px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
    }

    .wallpaper h1 {
        font-size: 3em;
    }

    .mobile-icon {
        display: inline-block;
    }

    .hitem span:nth-child(1) {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hitem span:nth-child(2) {
        display: none;
    }

    .hitem span:nth-child(3) {
        display: none;
    }

    .nav-text {
        margin-left: 10px;
    }

    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: left;
      align-items: center;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      padding-left: 24px;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
      border-bottom: 1px solid var(--color4);
      height: 2.5em;
      padding: 0.5em;
      padding-left: 24px;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li:first-child {
        border-top: 1px solid var(--color4);
    }

    .menu > li {
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 0;
      padding: 0.5em 0;
      padding-left: 24px;
      width: 100%;
      color: var(--color4);
      background-color: white;
    }

    nav a:hover {
        color: var(--color4);
        box-shadow: none;
    }

    li a {
        color: var(--color4);
        padding-left: 1em;
      }

      li .list-arrow {
        display: inline;
        width: 20px;
        height: 20px;
        color: var(--color4);
        margin-left: auto;
        margin-right: 12px;
      }

      .overlay {
        display: none;
      }

      .mobile-overlay{
        display: block;
        background-color:rgba(227, 194, 87, 1);
        padding: 20px;
        color: white;
        text-align: center;
      }

      .mobile-overlay h2{
        margin-bottom: 20px;
      }

      .mobile-overlay p {
        margin-bottom: 20px;
      }

      .mobile-overlay button {
        height: 35px;
        width: 150px;
      }

      /* Products */

      #products-head{
        font-size: 1.5em;
      }

      .grid-container {
        gap: 10px;
      }

      .card {
        width: 100%;
        margin-bottom: 20px;
      }

      .grid-row {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
      }

      /* Free shipping */

      .shipping-notice div:last-of-type {
        display: none;
      }

      .shipping-notice {
        width: 100%;
        font-size: 0.6em;
      }

      .shipping-notice span {
        margin-right: 15px;
      }

      /* Featured wallpaper */

      .featured-wallpaper {
        height: 400px;
        width: 100%;
        align-items: baseline;
      }

      .featured-plant-text {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.3em;
      }

      /* Review */

      #review {
          text-align: center;
      }

      /* Assistant */

      #assistantImage {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

      #assistantGreet h2{
        margin-top: 20px;
        font-size: 1em;
      }

      #assistantGreet{
        display: block;
        text-align:center;
      }

      #assistantImage img {
        width: 120px;
        height: 120px;
      }

      #assistantText {
        font-size: 1.2em;
      }

      .assistant button {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.8em;
      }

      /* Footer */

      .footer-content {
        align-items: center;
        justify-content: center;
      }

      .footer-column {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0;
      }

      .footer-column:first-of-type {
        margin-left: 0;
      }

      .footer-column:last-of-type {
        padding-right: 10px;
      }

    .footer-links {
        display: none;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        max-width: 120px;
    }

    .logo {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }

    .footer-links-mobile {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
        margin: 20px 0;
        border-top: 1px solid black;
        font-family: proxima-nova,sans-serif;
    }

    .footer-column-mobile {
        padding: 5px 0;
        font-size: 0.8em;
        border-bottom: 1px solid black;
    }

    .footer-column-mobile h3 {
        font-family: proxima-nova,sans-serif;
    }

    .footer-column-mobile-login {
        font-size: 18px;
        border-bottom: 1px solid black;
        text-align: center;
    }

    .footer-column-mobile-login a {
        text-decoration: none;
        color: #1B2A3A;
        display: block;
        margin: 8px 0;
    }

    .footer-column-mobile h3 {
        display: block;
        margin-left: 10px;
    }

    .footer-col-mob-plus {
        position: absolute;
        right: 15px;
    }

    .footer-column-mobile a {
        text-decoration: none;
        color: #1B2A3A;
        display: block;
        margin: 8px 0;
        margin-left: 20px;
    }

    div.soc-media {
        margin-right: 0;
    }

    .soc-media a:hover {
        transform: none;
    }


    .footer-column-mobile a {
        display: none;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .footer-column-mobile.show a {
        display: block;
        opacity: 1;
        transform: scaleY(1);
    }
  }
